*.o
*.d
*.a
diskimageaccess

part2/raw_syscall
part2/strace_demo
part2/mmap_count
part2/mmap_shared
part2/mmap_anon
part2/read_full
part2/write_full
part2/out.txt
part2/testfile.txt
part2/input.txt
part2/counter.bin
.DS_Store
*~
